{
  "svelteSortOrder" : "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80
}